#wrapper{
    position: relative;
}

#video{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

#camera-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}

#rect-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#qr-msg{
    position: absolute;
    top: 500px;
    left: 0px;
}


a {
    color: #000438;
    text-decoration: none !important;
}
.sk-btn {
    background-color: #00076e !important;
    transition: 0.15s;
}
.sk-input-btn {
    color: rgba(var(--bs-link-color-rgb));
    border: none;
    background-color: transparent;
}
.sk-input-btn:hover {
    color: rgba(var(--bs-link-hover-color-rgb));
}